.banner {
    background-image: url("..//images/delicioso.png");
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    font-family: 'Fugaz One', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
    text-decoration: solid;
}

