.btn-blue{
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    padding: 16px;
}

.btn-blue:hover{
background-color: white;
transition: 0,5s;
color: black;
text-shadow: none;
}