.btn-blue{
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    padding: 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0,5s;
    text-shadow: 1px 1px 1px black;
    box-shadow: 5px 5px 5px black;
    font-family: 'fugaz one', cursive;
    font-size: 20px;
    margin-left: 10%;
    width: 100px;
    text-align: center;
}

.btn-blue:hover{
background-color: white;
transition: 0,5s;
color: black;
text-shadow: none;
}