@import "banner.css";
@import "buttons.css";
@import "cards.css";
@import "footer.css";
@import "navbar.css";

body{
    margin: 0;
}

a   {
    text-decoration: none;
}

.container {
    width: 75%;
    margin: 24px auto;
}

.text {
    font-family: 'fugaz one', cursive;
}

.sous_titre {
    font-family: 'fugaz one', cursive;
    font-size: 24px;
    color: #000;
    margin: 0;
}

.sous_titre2 {
    font-family: 'fugaz one', cursive;
    font-size: 20px;
    color: #000;
    margin: 0;
}
